/*-------SEÇÃO 1 - Quem somos---------*/

.conteiner-imagem-texto {
    width: 438px;
}

.conteinerPequeno-imagem-texto {
    display: inline-block;
    border: 0.5px solid #cccccc;
    margin: 0px;
    margin-top: 30px;
    height: 65px;
    width: 49%;
}

.conteinerPequeno-imagem-texto img {
    margin-left: 25px;
}

.conteinerPequeno-imagem-texto p {
    margin: 0px;
    padding-left: 12px;
}

#conteinerPequeno-esquerdo {
    margin-left: -5px;
}

#grid-texto-img {
    height: 450px;
}

#p-conteinerDireito-imagem-texto {
    top: 100px;
    margin-left: 30px;
}


/*-------SEÇÃO 2 - Porque nos escolher---------*/
#secao2 {
    height: 950px;
}

.conteiner-imagem-texto-secao2 {
    height: 300px;
    padding: 18px;
    margin: 0 auto;
    width: 27%;
    border: 2px solid transparent;
    transition: border 0.5s;
}

.conteiner-imagem-texto-secao2:hover {
    border: 2px solid #00cccc;
}

#linha1-secao2 {
    margin-top: 45px;
    margin-bottom: 20px;

}

.conteiner-imagem-texto-secao2 img {
    margin-top: 30px;
}

#h1-secao2 {
    margin-top: 50px;
}

/*-------SEÇÃO 3 - Nossa equipe---------*/

#secao3 {
    height: 650px;
}

#conteiner-secao3 {
    float: left;
    margin-top: 50px;
}

#foto1 {
    margin-left: 21%;
}

#foto3 {
    -webkit-filter: none;
    filter: none;
}

.fotoSecao3 {
    border-radius: 50%;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

#indicador-funcionario {
    border-right: 2px solid #efefef;
    height: 30px;
    width: 1px;
    margin: auto;
    margin-left: 49%;
    margin-top: -5px;
}

.p-box-depoimento {
    width: 710px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.abre-aspas {
    margin-top: 56px;
}

.fecha-aspas {
    margin-top: -24px;
}

.box-depoimento {
    width: 880px;
    padding-top: 65px;
    float: left;
}

#conteiner-fotos-secao3 {
    border-bottom: 2px solid #efefef;
}

#box-depoimento1 {
    display: none;
}

#box-depoimento2 {
    display: none;
}

#box-depoimento3 {
    display: block;
}

#box-depoimento4 {
    display: none;
}

#box-depoimento5 {
    display: none;
}

/*-----------SEÇÃO 4 - nossos clientes----------------*/
#secao4 {
    height: 382px;
    border-top: 2px solid #efefef;

}

#p-secao4 {
    height: 30px;
    margin: 0px;
    margin-top: 30px;
}

#div-logo-parceiros-linha1 {
    height: 161px;
}

#div-logo-parceiros-linha2 {
    height: 161px;
    margin-top: -35px;
}

.img-logo-parceiros-linha {
    margin-right: 117px;
    margin-top: 53px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

.img-logo-parceiros-linha:hover {
    filter: grayscale(0%);
}

#img-logotipo-behance {
    padding-bottom: 9px;
}

#img-logotipo-puma {
    float: right;
    margin-right: 0px;
    margin-top: 38px;
}

#img-logotipo-ferrari {
    float: right;
    margin-right: 0px;
}