/*-------SEÇÃO 1 - Quem somos---------*/
.box-content-section1 {
    width: 438px;
}

.cotainer-img-text-section1 {
    display: inline-block;
    border: 0.5px solid #cccccc;
    margin: 0px;
    margin-top: 30px;
    height: 65px;
    width: 49%;
}

.cotainer-img-text-section1 img {
    margin-left: 25px;
}

.cotainer-img-text-section1 p {
    margin: 0px;
    padding-left: 12px;
}

#cotainer-img-text-section1-right {
    margin-left: -5px;
}

#container-section1 {
    height: 450px;
}

#p-box-content-section1-right {
    top: 100px;
    margin-left: 30px;
}


/*-------SEÇÃO 2 - Porque nos escolher---------*/
#section2 {
    height: 950px;
}

.container-img-text-section2 {
    height: 300px;
    padding: 18px;
    margin: 0 auto;
    width: 27%;
    border: 2px solid transparent;
    transition: border 0.5s;
}

.container-img-text-section2:hover {
    border: 2px solid #00cccc;
}

.container-img-text-section2 img {
    margin-top: 30px;
}

#line1-section2 {
    margin-top: 45px;
    margin-bottom: 20px;
}

#h1-section2 {
    margin-top: 50px;
}

/*-------SEÇÃO 3 - Nossa equipe---------*/

#section3 {
    height: 590px;
}

#container-section3 {
    float: left;
    margin-top: 50px;
}

#picture1 {
    margin-left: 21%;
}

#picture3 {
    -webkit-filter: none;
    filter: none;
}

.pictures-section3 {
    border-radius: 50%;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

#pictures-section3 {
    border-right: 2px solid #efefef;
    height: 30px;
    width: 1px;
    margin: auto;
    margin-left: 49%;
    margin-top: -5px;
}

.p-box-testimonial {
    width: 710px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.img-open-quotes {
    margin-top: 56px;
}

.img-close-quotes {
    margin-top: -24px;
}

.box-testimonial {
    width: 880px;
    padding-top: 65px;
    float: left;
}

#container-pictures-section3 {
    border-bottom: 2px solid #efefef;
}

#box-testimonial1 {
    display: none;
}

#box-testimonial2 {
    display: none;
}

#box-testimonial3 {
    display: block;
}

#box-testimonial4 {
    display: none;
}

#box-testimonial5 {
    display: none;
}

/*-----------SEÇÃO 4 - nossos clientes----------------*/
#section4 {
    height: 460px;
    border-top: 2px solid #efefef;

}

#container-section4 {
    margin: 80px auto 0px auto;
}


#p-section4 {
    height: 30px;
    margin: 0px;
    margin-top: 30px;
}

#container-logo-clients-line1 {
    height: 161px;
}

#container-logo-clients-line2 {
    height: 161px;
    margin-top: -35px;
}

.img-logo-clients {
    margin-right: 117px;
    margin-top: 53px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

.img-logo-clients:hover {
    filter: grayscale(0%);
}

#img-logo-behance {
    padding-bottom: 9px;
}

#img-logo-puma {
    float: right;
    margin-right: 0px;
    margin-top: 38px;
}

#img-logo-ferrari {
    float: right;
    margin-right: 0px;
}