/*-------GRID main---------*/
#main-grid {
    height: 1810px;
    margin-left: 25%;
}

#main-h1 {
    margin-left: 126px;
    width: 438px;
}

#main-p {
    margin-left: 126px;
    width: 438px;
    margin-bottom: 20px;
}

.width-grid-566px {
    width: 566px;
}

.post {
    margin-top: 90px;
}

.post-twitter {
    margin-top: 90px;
}

.info-of-post-twetter {
    width: 113px;
    position: relative;
    top: 50px;
}

.info-of-posts {
    width: 113px;
    position: relative;
    top: -222px;
}

.img-author-of-post {
    margin-left: 43px;
    width: 60px;
    border-radius: 50%;
}

.background-color-pink {
    background-color: #ff3399;
}

.p-of-box-author-post {
    width: fit-content;
    background-color: #ff3399;
    color: white;
    margin: 0px;
    padding: 3px;
    margin-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.p-day-of-post {
    margin-left: auto;
}

.p-date-of-post {
    margin-left: auto;
}

.p-name-author-of-post {
    margin: 0px;
    width: fit-content;
    margin-left: auto;
}

.box-of-news {
    margin-left: 10px;
}

.box-of-news-twitter {
    background-color: #8260E3;
    padding: 20px;
    width: 398px;
    height: 160px;
    margin-left: 10px;

}

.img-box-of-news {
    width: 438px;
}

.h1-box-of-news {
    width: 438px;
}

.p-box-of-news {
    width: 438px;
}

.p-box-of-news-twitter {
    width: 398px;
    font-size: 18px;
    margin-top: 25px;
    line-height: 1.5;
}

.btn-read-more {
    width: 130px;
    height: 45px;
    background-color: #00cccc;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}

.btn-read-more:hover {
    cursor: pointer;
}

.selector-page-blog {
    display: inline-block;
    border: 0.5px solid #cdcdcd;
    border-radius: 100%;
    text-align: center;
    width: 40px;
    height: 31px;
    font-weight: 600;
    color: black;
    padding-top: 8px;
    margin-right: 5px;
    transition: background-color 0.2s, color 0.2s;

}


.selector-page-blog:hover {
    border: 0.5px solid #00cccc;
    background-color: #00cccc;
    color: white;
}

.menu-pages-blog {
    margin-left: 290px;
}

.carousel-menu {
    width: 150px;
    margin-top: 150px;
}

.carousel-menu .slick-next {
    background-color: #00cccc !important;
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    margin-top: -247px !important;
    margin-left: -31px;
}

.carousel-menu .slick-next:before {
    top: 5px !important;
    top: 8px !important;
    left: 15px !important;
}

.carousel-menu .slick-prev {
    background-color: #00cccc !important;
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    margin-top: -247px !important;
    margin-left: -231px;
}

.carousel-menu .slick-prev:before {
    top: 5px !important;
    top: 8px !important;
    left: 15px !important;
}


/*-------GRID lateral---------*/
.width-grid-283px {
    width: 233px;
}

#search-blog {
    width: 233px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #E4EAEC;
    padding-left: 30px;
    font-size: 14px;
    margin-top: 90px;
    outline: none;
}

#btn-search {
    width: 50px;
    height: 40px;
    border-radius: 30px;
    background-color: #00cccc;
    border: none;
    float: right;
    margin-top: -40px;
    z-index: 9;
    position: relative;

}

#btn-search {
    cursor: pointer;
}

#btn-search::after {
    content: url(../img/lupa-branca.png);
}

.h3-category {
    margin: 0px;
    margin-top: 50px;
}

.categories {
    width: 233px;
}

.category {
    border-bottom: 1px solid #E4EAEC;
}

.p-category {
    margin-left: 15px;
    transition: color 0.5s;
}

.p-category:hover {
    cursor: pointer;
    color: #00cccc;
}

.carousel {
    width: 233px;
    margin-top: 100px;
}

.img-slider {
    width: 233px;
    height: 133px;
}

.slick-dots {
    border-bottom: 1px solid #E4EAEC;
    border-top: 1px solid #E4EAEC;
    padding-bottom: 7px !important;
    text-align: left !important;
}

.p-slider {
    margin-bottom: 45px;
}

.slick-prev {
    background-color: #333333 !important;
    left: 164px !important;
    top: 282px !important;
    width: 34px !important;
    height: 34px !important;
    z-index: 9;

}

.slick-prev:hover {
    background-color: #00cccc !important;
    cursor: pointer !important;

}

.slick-prev:before {
    opacity: 1 !important;
    content: url(../img/setaPequena-esquerda.png) !important;
    position: absolute !important;
    top: 6px !important;
    left: 13px !important;
}

.slick-next {
    background-color: #333333 !important;
    left: 198px !important;
    top: 282px !important;
    width: 34px !important;
    height: 34px !important;
    z-index: 9;
}

.slick-next:hover {
    background-color: #00cccc !important;
    cursor: pointer !important;

}

.slick-next:before {
    opacity: 1 !important;
    content: url(../img/setaPequena-direita.png) !important;
    position: absolute !important;
    top: 6px !important;
    right: 13px !important;
}

.slick-dots li {
    margin: 0 0px !important;
}

.slick-dots li button:before {
    content: '' !important;

}

.slick-dots li button {
    border: 2px solid #00cccc !important;
    border-radius: 50% !important;
    height: 7px !important;
    width: 7px !important;
    margin-top: 4px;
}


.slick-active button {
    border-color: #8260E3 !important;
    background-color: #8260E3 !important;
}

#newsletter-signature {
    background-image: url(../img/newsletter.jpg);
    width: 233px;
    height: 380px;
    margin-top: 125px;
}

.inputs-newsletter {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 10px;
}

#input-name {
    background-image: url(../img/login-icon.png);
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: 12px;
    padding-left: 40px;
    padding-right: 20px;
}

#input-email {
    background-image: url(../img/email-icon-branco.png);
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: 16px;
    padding-left: 40px;
    padding-right: 20px;
}

#input-submit {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 35px;
    color: white;
    background-color: #FF69A0;
    box-shadow: 0 10px 30px 0 rgba(67, 22, 39, .32);
    font-weight: 600;
}

#input-submit:hover {
    cursor: pointer;
}