#container-testimonial {
    float: left;
    margin-top: 50px;
}

#picture1 {
    margin-left: 21%;
}

.pictures-section3 {
    border-radius: 50%;
    margin-right: 20px;    
    transition: filter 0.5s;    
    cursor: pointer;
}

.picture-no-active {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
}

.picture-active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none; /* IE */
}

#pictures-section3 {
    border-right: 2px solid #efefef;
    height: 30px;
    width: 1px;
    margin: auto;
    margin-left: 49%;
    margin-top: -5px;
}

.p-box-testimonial {
    width: 710px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.img-open-quotes {
    margin-top: 56px;
}

.img-close-quotes {
    margin-top: -24px;
}

.box-testimonial {
    width: 880px;
    padding-top: 65px;
    float: left;
}

#container-pictures-section3 {
    border-bottom: 2px solid #efefef;
}

.box-testimonial-no-active {
    display: none;
}