/*-------FOOTER 1 DA PÁGINA---------*/
#footer1-da-pagina {
    height: 350px;
    background-color: #666666;
}

#footer1-conteiner-line {
    height: 330px;
    display: flex;
}

.bloco-imagem-texto-footer1 {
    width: 24%;
    height: fit-content;
    display: inline-block;
    margin-top: 30px;
}

.bloco-imagem-texto-footer1 hr {
    width: 75%;
    position: relative;
    margin-left: 0px;
    border: 0.5px solid #cccccc;
}

.bloco-imagem-texto-footer1 p {
    color: #cccccc;
    width: 85%;
}

.bloco-imagem-texto-footer1 span {
    color: white;
    font-size: 17px;
}

#adress:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/adress-icon.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#email:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/email-icon.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 10px;
}

#tel:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/tel-icon.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 7px;
    left: 2px;
}

#data-post:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/clock-icone.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 3px;

}

.p-contato {
    margin-top: -9px;
}

#data-post {
    margin-top: -12px;
}

#bloco2 {
    margin-left: 30px;
}

#bloco3 {
    margin-left: 30px;
}

#bloco4 {
    margin-left: 30px;
}

/*-------FOOTER 2 DA PÁGINA---------*/
#footer2-da-pagina {
    height: 70px;
    background-color: #333333;
}

#footer2-conteiner-line {
    height: 70px;
}

#p-footer2 {
    color: #cccccc;
    font-size: 14px;
}

.icones-redesSociais-footer a {
    margin-left: 20px;
    text-decoration: none;
}