/*-------HEADER: Logotipo, icones redes sociais-------*/
#header {
    height: 50px;
}

.link-redes-socias-header {
    margin-left: 20px;
}

/*-------MENU NAVEGAÇÃO-------*/
#menu-navegacao {
    border-bottom: 4px solid #efefef;
    height: 60px;
}

.menu {
    position: absolute;
    float: left;
    list-style: none;
    z-index: 1;
    padding-left: 0px;
    margin: 0px;
    height: 60px;
}

.li-menu {
    height: 60px;
    border-bottom: 2px solid transparent;
    position: relative;
    float: left;
    list-style: none;
    margin-right: 20px;
    transition: border 0.3s;
}

.a-menu {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-top: 22px;
    transition: color 0.3s;
}

#submenu-pages {
    width: 180px;
    height: 352px;
    position: absolute;
    background-color: #00cccc;
    visibility: hidden;
    opacity: 0;
    margin-top: -4px;
    margin-left: -37px;
    padding-top: 15px;
    transition: opacity 0.3s, visibility 0.3s;
}

.li-submenu {
    list-style: none;
    width: 150px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0px;
    text-align: left;
    margin-top: 20px;
}

.a-submenu {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}

#a-pages {
    height: 42px;
}

#campo-de-busca {
    height: 13px;
    padding: 10px;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 0.2px solid #cccccc;
}