body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 64px 400px 600px 680px 480px 420px;    
}
button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-esquerda.png');
    position: absolute;
    z-index: 9;
    top: 174.5px;
    left: 300px;
}
button.slick-prev:hover {
    cursor: pointer;
}
button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-direita.png');
    position: absolute;
    top: 174.5px;
    right: 300px;
}
button.slick-next:hover {
    cursor: pointer;
}
ul.slick-dots {
    position: absolute;
    left: 46%;
    bottom: 20px;
}
.slick-dots li {
    display: inline-block;
}
.slick-dots button {
    margin-right: 9px;
    font-size: 0px;
    background: transparent;
    border: 4px solid white;
    border-radius: 50%;
    height: 19px;
    width: 19px;
}
.slick-dots button:hover {
    cursor: pointer;
}
.slick-active button {
    background-color: #00cccc;
}
.section-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div1-section-article, .div2-section-article, .div3-section-article {
    width: 880px;
}
.div1-section-article {
    margin-top: 100px;
}
.div1-section-article h1 {
    color: #999999;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.div1-section-article h1 span {
    color: #666666;
}
.div1-section-article p {
    color: #999999;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}
.div2-section-article {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-top: 60px;
}
.div2-section-article div {
    width: 270px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-top 0.5s;
}
.box-discription-grid-news-active {
    margin-top: 115px;
}
.div2-section-article div h1 {
    color: #999999;
    font-size: 15px;
    margin-top: 10px;
}
.div2-section-article div p {
    color: #999999;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
.div2-section-article div img {   
    cursor: pointer; 
    transition: filter 0.3s;
}
.img-button-active {
    filter: grayscale(0%) brightness(100%);
}
.img-button-no-active {
    filter: grayscale(100%) brightness(120%);
}
.img-button-onmouseover {
    filter: grayscale(0%) brightness(100%);
}
.div3-section-article {
    display: flex;
    justify-content: space-around;
}
.div3-section-article img {
    opacity: 0;
    transition: opacity 0.5s;
}
.pointer-grid-news-active {
    opacity: 1 !important;
}
.section-news {
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grid-news {
    width: 880px;
    display: none;
}
.grid-news-active {
    display: block !important;
}
.grid-news-line1 {
    display: flex;
    justify-content: space-between;
}
.grid-news-line1 a {
    width: 270px;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(14, 13, 13, 0.32);
}
.grid-news-line1 a:hover {
    border-color: white;
}
.grid-news-line1 a h1 {
    color: #999999;
    font-size: 13px;  
    margin-left: 20px;  
    margin-top: 6px;
}
.grid-news-line1 a p {
    color: #999999;
    font-size: 13px;
    padding: 3px 10px 10px 20px;
}
.grid-news-line1 a img{
    width: 100%;
}
.grid-news-line2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.grid-news-line2 a {
    width: 270px;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(14, 13, 13, 0.32);
}
.grid-news-line2 a h1 {
    color: #999999;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 6px;
}
.grid-news-line2 a p {
    color: #999999;
    font-size: 13px;
    padding: 3px 10px 10px 20px;
}
.grid-news-line2 a img{
    width: 100%;
}
.section-our-partners {
    display: flex;
    justify-content: space-around;
}
.container-section-our-partners div {
    width: 880px;
}
.container-section-our-partners p {
    color: #999999;
    font-size: 14px;
    margin-top: 50px;
}
.log-partners-line1, .log-partners-line2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.log-partners-line1 {
    margin-top: 40px;
}
.img-partner1 {
    margin-left: 17px;
}
.img-partner4 {
    margin-right: 33px;
}
.log-partners-line2 {
    margin-top: 30px;
}
.log-partners-line1 img, .log-partners-line2 img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE */
    transition: filter 0.5s;
}
.log-partners-line1 img:hover, .log-partners-line2 img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none; /* IE */
}