body {
    width: 100%;
    height: 100%;
    margin: 0px;
}


/*-------HEADER: Logotipo, icones redes sociais-------*/

.header {
    width: 100%;
    background-color: #333333;
    height: 60px;
}

.content-header {
    width: 980px;
    height: 100%;
    margin: auto;
}

.logo-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.icones-redesSociais-header {
    float: right;
}

.icones-redesSociais-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.icones-redesSociais-header a {
    margin-left: 20px;
}


/*-------MENU NAVEGAÇÃO: Links para as sessões, campo de busca ---------*/

.menu-navegacao {
    width: 100%;
    border-bottom: 4px solid #efefef;
    background-color: #ffffff;
    height: 85px;
}

.conteiner-menu-navegacao {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.menu {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.menu p {
    display: inline-block;
    margin: 0px;
    height: 100%;
    border-bottom: 2px solid #efefef;
    margin-right: 20px;
}

.menu a {
    color: #999999;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.menu a:hover {
    color: #00cccc;
}


.campo-de-busca {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}

.campo-de-busca input {
    width: 190px;
    height: 30px;
    padding: 15px;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #cccccc;
}

/*----------------SLIDER--------------------------*/

.secao-slider {
    width: 100%;
    position: relative;
    float: left;
}

.slick-list {
    height: 530px;
}

button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-esquerda.png');
    position: absolute;
    z-index: 9;
    top: 239px;
    left: 300px;
}

button.slick-prev:hover {
    cursor: pointer;
}

button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-direita.png');
    position: absolute;
    margin-left: 1876px;
    top: 239px;
    right: 300px;
}

button.slick-next:hover {
    cursor: pointer;
}

ul.slick-dots {
    position: absolute;
    left: 46%;
    bottom: 35px;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    margin-right: 9px;
    font-size: 0px;
    background: transparent;
    border: 4px solid white;
    border-radius: 50%;
    height: 19px;
    width: 16px;
}

.slick-dots button:hover {
    cursor: pointer;
}

.slick-active button {
    background-color: #00cccc;
}


/*-------------SEÇÃO 2----------------*/
#secao2 {
    position: relative;
    float: left;
    width: 100%;
}

.content1-secao2 {
    width: 980px;
    margin: auto;
}

.texto-destaque strong {
    color: #666666;
}

.texto-destaque {
    color: #999999;
    text-align: center;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.texto-destaque p {
    font-size: 15px;
}

.content2-secao2 {
    width: 980px;
    height: 320px;
    margin: auto;
    display: flex;
}

.conteiner-img-texto-secao2 {
    width: 31%;
    display: inline-block;
    text-align: center;
    margin: auto;
}

#imac-icone:hover {
    cursor: pointer;
    src: "../img/imac-azul.png";

}

#lapis-icone:hover {
    cursor: pointer;
    src: "../img/lapis-azul.png";
}

#paisagem-icone:hover {
    cursor: pointer;
    src: "../img/paisagem-azul.png";
}

#imac-icone: {
    cursor: pointer;
    src: "../img/imac-azul.png";

}

.tamanho-iamgem-c2 {
    width: 25%;
}

.subtexto-img {
    font-size: 12px;
}

h3 {
    font-weight: normal;
}

/*-----------SEÇÃO 3----------------*/

#secao3 {
    height: 720px;
    background-color: #efefef;
    position: relative;
    float: left;
    width: 100%;
}

#subsecaoLapis {
    display: ;
}

#subsecaoImac {
    display: none;
}

#subsecaoPaisagem {
    display: none;
}

.subsecao {
    width: 980px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.linha1-subsecao {
    width: 100%;
    display: flex;
    margin: auto;

}

.linha2-subsecao {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.container-imagem-texto-subsecao {
    width: 31%;
    display: inline-block;
    border: 1px solid #cccccc;
    margin: auto;
}

.container-imagem-texto-subsecao p {
    padding: 2%;
    font-size: 15px;
    color: #999999;
}

.container-imagem-texto-subsecao b {
    line-height: 2;
}

.tamanho-imagem-subsecao {
    width: 100%;
}