body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.alinhamento-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.largura-100porcento {
    width: 100%;
}

.altura-100porcento {
    height: 100%;
}

.grid-largura-padrão {
    width: 880px;
}

.cor-texto-cinza-padrão {
    color: #999999;
}

.cor-texto-branco-padrão {
    color: white;
}

.cor-strong-padrão {
    color: #666666;
}

.tamanho-texto-pequeno-13px {
    font-size: 13px;
}

.tamanho-texto-medio-15px {
    font-size: 15px;
}

.background-color-cinzaEscuro-padrão {
    background-color: #333333;
}

.margin-0-auto {
    margin: 0 auto;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-align-center {
    text-align: center;
}

.largura-31porcento {
    width: 31%;
}

.display-flex {
    display: flex;
}

/*-------HEADER: Logotipo, icones redes sociais-------*/
#header {
    height: 50px;
}

.link-redes-socias-header {
    margin-left: 20px;
}

/*-------MENU NAVEGAÇÃO: Links para as sessões, campo de busca ---------*/

#menu-navegacao {
    border-bottom: 4px solid #efefef;
    height: 60px;
}

.menu p {
    display: inline-block;
    margin: 0px;
    height: 100%;
    border-bottom: 2px solid #efefef;
    margin-right: 10px;
    transition: border-bottom 0.5s;
}

.menu a {
    color: #999999;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    transition: color 0.5s;
}

.menu a:hover {
    color: #00cccc;
}

.campo-de-busca {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}

#campo-de-busca {
    width: 190px;
    height: 30px;
    padding: 10px;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #cccccc;
}

/*----------------SLIDER--------------------------*/
.secao-slider:hover {
    cursor: pointer;
    transition: content 0.5s;
}

.slick-list {
    height: 400px;
}

button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-esquerda.png');
    position: absolute;
    z-index: 9;
    top: 174.5px;
    left: 300px;
}

button.slick-prev:hover {
    cursor: pointer;
}

button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-direita.png');
    position: absolute;
    margin-left: 1876px;
    top: 174.5px;
    right: 300px;
}

button.slick-next:hover {
    cursor: pointer;
}

ul.slick-dots {
    position: absolute;
    left: 46%;
    bottom: 20px;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    margin-right: 9px;
    font-size: 0px;
    background: transparent;
    border: 4px solid white;
    border-radius: 50%;
    height: 19px;
    width: 16px;
}

.slick-dots button:hover {
    cursor: pointer;
}

.slick-active button {
    background-color: #00cccc;
}


/*-------------SEÇÃO 1----------------*/

.conteiner1-secao1 {
    margin-top: 50px;
}

.conteiner1-secao1 h1 {
    text-transform: uppercase;
    font-size: 24px;
}

.conteiner2-secao1 {
    height: 290px;
    display: flex;
    margin-top: 50px;
}

.conteiner-img-texto-secao1 {
    transition: margin-top 0.5s;
}

.btn-troca-secao {
    width: 80px;
    height: 80px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: background-image 0.5s;

}

.indicador-de-secao {}

#indicador-da-secao-esquerda {
    margin-left: 11%;
    opacity: 0;
    transition: opacity 0.5s;
}

#indicador-da-secao-central {
    margin-left: 23%;
    opacity: 1;
    transition: opacity 0.5s;
}

#indicador-da-secao-direita {
    margin-left: 23%;
    opacity: 0;
    transition: opacity 0.5s;
}

#btn-secao-imac {
    background-image: url(../img/imac.png);
}

#btn-secao-lapis {
    background-image: url(../img/lapis-azul.png);
}

#btn-secao-paisagem {
    background-image: url(../img/paisagem.png);
}

#conteiner-img-texto-secao1-central {
    margin-top: 11%;
}

/*-----------SEÇÃO 2----------------*/

#secao2 {
    height: 620px;
    background-color: #efefef;
}

#subsecaoLapis {
    display: block;
}

#subsecaoImac {
    display: none;
}

#subsecaoPaisagem {
    display: none;
}

#linha1-subsecao {
    display: flex;
}

#linha2-subsecao {
    display: flex;
    margin-top: 20px;
}

.container-imagem-texto-subsecao {
    display: inline-block;
    border: 0.5px solid #dddddd;
}

.container-imagem-texto-subsecao p {
    padding: 4%;
    margin: 0px;
}

.container-imagem-texto-subsecao b {
    line-height: 2;
}

.tamanho-imagem-subsecao {
    width: 100%;
}

/*-----------SEÇÃO 3 nossos parceiros----------------*/
#secao3 {
    height: 382px;
}

#p-secao3 {
    height: 30px;
    margin: 0px;
    margin-top: 30px;
}

#div-logo-parceiros-linha1 {
    height: 161px;
}

#div-logo-parceiros-linha2 {
    height: 161px;
    margin-top: -35px;
}

.img-logo-parceiros-linha {
    margin-right: 117px;
    margin-top: 53px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

.img-logo-parceiros-linha:hover {
    filter: grayscale(0%);
}

#img-logotipo-behance {
    padding-bottom: 9px;
}

#img-logotipo-puma {
    float: right;
    margin-right: 0px;
    margin-top: 38px;
}

#img-logotipo-ferrari {
    float: right;
    margin-right: 0px;
}



/*-------FOOTER 1 DA PÁGINA---------*/
#footer1-da-pagina {
    height: 330px;
    background-color: #666666;
}

#footer1-conteiner-line {
    height: 330px;
    display: flex;
}

.bloco-imagem-texto-footer1 {
    width: 24%;
    height: 330px;
    display: inline-block;
}

.bloco-imagem-texto-footer1 hr {
    width: 75%;
    position: relative;
    margin-left: 0px;
    border: 0.5px solid #cccccc;
}

.bloco-imagem-texto-footer1 p {
    color: #cccccc;
    width: 85%;
}

.bloco-imagem-texto-footer1 span {
    color: white;
    font-size: 17px;
}

#adress:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/adress-icon.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#email:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/email-icon.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 10px;
}

#tel:before {
    content: '';
    width: 17px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/tel-icon.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 7px;
    left: 2px;
}

#data-post:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/clock-icone.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 3px;

}

.p-contato {
    margin-top: -9px;
}

#data-post {
    margin-top: -12px;
}

#bloco2 {
    margin-left: 30px;
}

#bloco3 {
    margin-left: 30px;
}

#bloco4 {
    margin-left: 30px;
}

/*-------FOOTER 2 DA PÁGINA---------*/
#footer2-da-pagina {
    height: 70px;
    background-color: #333333;
}

#footer2-conteiner-line {
    height: 70px;
}

#p-footer2 {
    color: #cccccc;
    font-size: 14px;
}

.icones-redesSociais-footer a {
    margin-left: 20px;
    text-decoration: none;
}