/*----------------SLIDER--------------------------*/
.section-slider {
    transition: translate3d 1s;
}

.slick-list {
    height: 400px;
}

button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-esquerda.png');
    position: absolute;
    z-index: 9;
    top: 174.5px;
    left: 300px;
}

button.slick-prev:hover {
    cursor: pointer;
}

button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 27px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/seta-direita.png');
    position: absolute;
    margin-left: 1876px;
    top: 174.5px;
    right: 300px;
}

button.slick-next:hover {
    cursor: pointer;
}

ul.slick-dots {
    position: absolute;
    left: 46%;
    bottom: 20px;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    margin-right: 9px;
    font-size: 0px;
    background: transparent;
    border: 4px solid white;
    border-radius: 50%;
    height: 19px;
    width: 16px;
}

.slick-dots button:hover {
    cursor: pointer;
}

.slick-active button {
    background-color: #00cccc;
}


/*-------------SEÇÃO 1----------------*/
#section1 {
    height: fit-content;
}

.container1-secton1 {
    margin: 100px auto 0px auto;
}

.container1-secton1 h1 {
    text-transform: uppercase;
    font-size: 24px;
}

.container2-secton1 {
    height: 290px;
    display: flex;
    margin: 50px auto 0px auto;
}

.cotainer-img-text-section1 {
    transition: margin-top 0.5s;
    width: 31%;
}

.btn-change-subsection {
    width: 80px;
    height: 80px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#pointer-subsection-left {
    margin-left: 11%;
    opacity: 0;
    transition: opacity 0.5s;
}

#pointer-subsection-central {
    margin-left: 23%;
    opacity: 1;
    transition: opacity 0.5s;
}

#pointer-subsection-right {
    margin-left: 23%;
    opacity: 0;
    transition: opacity 0.5s;
}

#btn-subsection-imac {
    background-image: url(../img/imac-azul.png);
    filter: grayscale(100%) brightness(120%);
    transition: filter 0.3s;

}

#btn-subsection-pencil {
    background-image: url(../img/lapis-azul.png);
    transition: filter 0.3s;
}

#btn-subsection-landscape {
    background-image: url(../img/paisagem-azul.png);
    filter: grayscale(100%) brightness(120%);
    transition: filter 0.3s;
}

#cotainer-img-text-section1-central {
    margin-top: 11%;
}

/*-----------SEÇÃO 2----------------*/

#section2 {
    height: 620px;
    background-color: #efefef;
}

#subsection-pencil {
    display: block;
}

#subsection-imac {
    display: none;
}

#subsection-landscape {
    display: none;
}

#line1-subsection {
    display: flex;
}

#line2-subsection {
    display: flex;
    margin-top: 20px;
}

.box-content-section1-subsection {
    display: inline-block;
    border: 0.5px solid #dedede;
}

.box-content-section1-subsection p {
    padding: 4%;
    margin: 0px;
}

.box-content-section1-subsection b {
    line-height: 2;
}

.size-img-subsection {
    width: 100%;
}

/*-----------SEÇÃO 3 nossos parceiros----------------*/
#section3 {
    height: 382px;
}

#p-section3 {
    height: 30px;
    margin: 0px;
    margin-top: 30px;
}

#container-logo-partners-line1 {
    height: 161px;
}

#container-logo-partners-line2 {
    height: 161px;
    margin-top: -35px;
}

.img-logo-partners {
    margin-right: 117px;
    margin-top: 53px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

.img-logo-partners:hover {
    filter: grayscale(0%);
}

#img-logo-behance {
    padding-bottom: 9px;
}

#img-logo-puma {
    float: right;
    margin-right: 0px;
    margin-top: 38px;
}

#img-logo-ferrari {
    float: right;
    margin-right: 0px;
}