/*-------GRID principal---------*/
#grid-principal {
    height: 1900px;
    margin-left: 25%;
}

#h1-principal {
    margin-left: 126px;
    width: 438px;
}

#p-principal {
    margin-left: 126px;
    width: 438px;
    margin-bottom: 20px;
}

.grid-largura-566 {
    width: 566px;
}

.post {
    margin-top: 90px;
}

.info-do-post {
    width: 113px;
    position: relative;
    top: -378px;
}

.img-autor-post {
    margin-left: 43px;
    width: 60px;
    border-radius: 50%;
}

.background-color-pink {
    background-color: #ff3399;
}

.p-autor-post {
    width: fit-content;
    background-color: #ff3399;
    color: white;
    margin: 0px;
    padding: 3px;
    margin-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.p-dia-post {
    margin-left: auto;
}

.p-data-post {
    margin-left: auto;
}

.p-nome-autor-post {
    margin: 0px;
    width: fit-content;
    margin-left: auto;
}

.box-de-noticias {
    margin-left: 10px;
}

.img-box-de-noticias {
    width: 438px;
}

.p-box-noticias {
    width: 438px;
}

.box-de-noticias2 {
    width: 438px;
    margin-top: 50px;
}

.img-box-de-noticias2 {
    width: 219px;
    height: 219px;
}

.p-box-de-noticias2 {
    width: 200px;
    float: right;
    margin: 0px;
    font-size: 15px;
    color: #999999;
}

#p2-box-de-noticias2 {
    margin-top: -90px;
    color: #ff3399;
    border-left: 3px solid #ff3399;
    padding-left: 17px;
    width: 180px;
    height: 73px;
    padding-top: 11px;
}

.share {
    width: 438px;
    float: right;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-share {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
}

#p-share-previus {
    border-right: 1px solid #dedede;
    padding-right: 5px;
}

.element-filter-gray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    filter: gray;
    /* IE */
}

.fadeIn-change-post {
    transition: filter 0.3s, color 0.3s;
}

.comment {
    width: 438px;
    float: right;
}

.inputs-comment {
    width: 423px;
    height: 40px;
    display: block;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #dedede;
}

.text-area-comment {
    width: 423px;
    min-width: 423px;
    font-family: inherit;
    padding-left: 15px;
    border: 1px solid #dedede;
}

.submit-comment {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    color: white;
    background-color: #00cccc;
    box-shadow: 0 10px 30px 0 rgba(67, 22, 39, .32);
    font-weight: 600;
}

.submit-comment:hover {
    cursor: pointer;
}

/*-------GRID lateral---------*/
.grid-largura-283 {
    width: 233px;
}

#search-blog {
    width: 233px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #E4EAEC;
    padding-left: 30px;
    font-size: 14px;
    margin-top: 90px;
    outline: none;
}

#btn-search {
    width: 50px;
    height: 40px;
    border-radius: 30px;
    background-color: #00cccc;
    border: none;
    float: right;
    margin-top: -40px;
    z-index: 9;
    position: relative;

}

#btn-search {
    cursor: pointer;
}

#btn-search::after {
    content: url(../img/lupa-branca.png);
}

.h3-categoria {
    margin: 0px;
    margin-top: 50px;
}

.categorias {
    width: 233px;
}

.categoria {
    border-bottom: 1px solid #E4EAEC;
}

.p-categoria {
    margin-left: 15px;
    transition: color 0.5s;
}

.p-categoria:hover {
    cursor: pointer;
    color: #00cccc;
}

.carrosel {
    width: 233px;
    margin-top: 100px;
}

.img-slider {
    width: 233px;
    height: 133px;
}

.slick-dots {
    border-bottom: 1px solid #E4EAEC;
    border-top: 1px solid #E4EAEC;
    padding-bottom: 7px !important;
    text-align: left !important;
}

.p-slider {
    margin-bottom: 45px;
}

.slick-prev {
    background-color: #333333 !important;
    left: 164px !important;
    top: 282px !important;
    width: 34px !important;
    height: 34px !important;
    z-index: 9;

}

.slick-prev:hover {
    background-color: #00cccc !important;
    cursor: pointer !important;

}

.slick-prev:before {
    opacity: 1 !important;
    content: url(../img/setaPequena-esquerda.png) !important;
    position: absolute !important;
    top: 6px !important;
    left: 13px !important;
}

.slick-next {
    background-color: #333333 !important;
    left: 198px !important;
    top: 282px !important;
    width: 34px !important;
    height: 34px !important;
    z-index: 9;
}

.slick-next:hover {
    background-color: #00cccc !important;
    cursor: pointer !important;

}

.slick-next:before {
    opacity: 1 !important;
    content: url(../img/setaPequena-direita.png) !important;
    position: absolute !important;
    top: 6px !important;
    right: 13px !important;
}

.slick-dots li {
    margin: 0 0px !important;
}

.slick-dots li button:before {
    content: '' !important;

}

.slick-dots li button {
    border: 2px solid #00cccc !important;
    border-radius: 50% !important;
    height: 7px !important;
    width: 7px !important;
    margin-top: 4px;
}


.slick-active button {
    border-color: #8260E3 !important;
    background-color: #8260E3 !important;
}

#assinatura-newsletter {
    background-image: url(../img/newsletter.jpg);
    width: 233px;
    height: 380px;
    margin-top: 125px;
}

.inputs-newsletter {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 10px;
}

#input-name {
    background-image: url(../img/login-icon.png);
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: 12px;
    padding-left: 40px;
    padding-right: 20px;
}

#input-email {
    background-image: url(../img/email-icon-branco.png);
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: 16px;
    padding-left: 40px;
    padding-right: 20px;
}

#input-submit {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 35px;
    color: white;
    background-color: #FF69A0;
    box-shadow: 0 10px 30px 0 rgba(67, 22, 39, .32);
    font-weight: 600;
}

#input-submit:hover {
    cursor: pointer;
}