/*------- SEÇÃO 1 - Services, what we do ---------*/
#section1 {
    height: 1300px;
}


.link-container {
    width: 293px;
    padding: 0px;
    border: 0.5px solid #efefef;
}

.link-container-active {
    background-color: #00cccc;
    border: 0.5px solid #00cccc
}

.icon-active {
    filter: grayscale(100%) brightness(200%);
}

.header-active {
    color: white !important;
}

.p-active {
    color: white !important;
}

.pointer-active {
    visibility: visible !important;
}

.pointer-no-active {
    visibility: hidden;
}

.img-services {
    width: 293px;
}

#line1-section1 {
    margin-top: 30px;

}

#container-main-section1 {
    margin-top: 80px;
}

.special-height {
    height: 267px;
}

.box-link-icon {
    margin-top: 30px;
}

.p-services {
    width: 238px;
    margin-left: 25px;
}

.height-parttner-section1 {
    height: 268px;
}

#pointer-service1 {
    position: absolute;
    margin-left: 144px;
    margin-top: -138px;
}

#pointer-blue-service1 {
    position: absolute;
    margin-left: 144px;
    margin-top: -138px;
    visibility: hidden;
}

#pointer-service2 {
    position: absolute;
    margin-left: -34px;
    margin-top: 17px;
}

#pointer-blue-service2 {
    position: absolute;
    margin-left: -34px;
    margin-top: 17px;
    visibility: hidden;
}

#pointer-service3 {
    position: absolute;
    margin-left: -174px;
    margin-top: -138px;
}

#pointer-blue-service3 {
    position: absolute;
    margin-left: -174px;
    margin-top: -138px;
    visibility: hidden;
}

#pointer-service6 {
    position: absolute;
    margin-left: -174px;
    margin-top: -138px;
}

#pointer-blue-service6 {
    position: absolute;
    margin-left: -174px;
    margin-top: -138px;
    visibility: hidden;
}

#pointer-service4 {
    position: absolute;
    margin-left: 144px;
    margin-top: -144px;

}

#pointer-blue-service4 {
    position: absolute;
    margin-left: 144px;
    margin-top: -144px;
    visibility: hidden;
}

#pointer-service5 {
    position: absolute;
    margin-left: -30px;
    margin-top: 17px;
}

#pointer-blue-service5 {
    position: absolute;
    margin-left: -30px;
    margin-top: 17px;
    visibility: hidden;
}

/*-------SEÇÃO 2 - Depoimento clientes---------*/

#section2 {
    height: 590px;
    border-top: 2px solid #efefef;

}