/*------- SEÇÃO 1 - Services, what we do ---------*/
#secao1 {
    height: 1720px;
}

.conteiner-imagem-texto-secao1 {
    width: 293px;
    padding: 0px;
    border: 0.5px solid #efefef;
}

.img-servicos {
    width: 293px;
}

#linha1-secao1 {
    margin-top: 30px;

}

#conteiner-principal-secao1 {
    margin-top: 80px;
}

.altura-especial {
    height: 267px;
}

.margin-top-icones {
    margin-top: 30px;
}

.p-serviços {
    width: 238px;
    margin-left: 25px;
}

.altura-padrao-secao1 {
    height: 268px;
}

#indicador-servico1 {
    position: absolute;
    margin-left: 145px;
    margin-top: -138px;
}

#indicador-servico2 {
    position: absolute;
    margin-left: -34px;
    margin-top: 19px;
}

#indicador-servico3 {
    position: absolute;
    margin-left: -174px;
    margin-top: -138px;
}

#indicador-servico6 {
    position: absolute;
    margin-left: -174px;
    margin-top: -138px;
}

#indicador-servico4 {
    position: absolute;
    margin-left: 146px;
    margin-top: -144px;

}

#indicador-servico5 {
    position: absolute;
    margin-left: -30px;
    margin-top: 19px;
}

/*-------SEÇÃO 2 - Depoimento clientes---------*/

#secao2 {
    height: 650px;
}

#conteiner-secao2 {
    float: left;
    margin-top: 50px;
}

#foto1 {
    margin-left: 21%;
}

#foto3 {
    -webkit-filter: none;
    filter: none;
}

.fotoSecao2 {
    border-radius: 50%;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

#indicador-funcionario {
    border-right: 2px solid #dddddd;
    height: 30px;
    width: 1px;
    margin: auto;
    margin-left: 49%;
    margin-top: -5px;
}

.p-box-depoimento {
    width: 710px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.abre-aspas {
    margin-top: 56px;
}

.fecha-aspas {
    margin-top: -24px;
}

.box-depoimento {
    width: 880px;
    padding-top: 65px;
    float: left;
}

#conteiner-fotos-secao2 {
    border-bottom: 2px solid #dddddd;
}

#box-depoimento1 {
    display: none;
}

#box-depoimento2 {
    display: none;
}

#box-depoimento3 {
    display: block;
}

#box-depoimento4 {
    display: none;
}

#box-depoimento5 {
    display: none;
}