body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 64px 400px 1300px 590px 420px;
}
.section-banner-page img {
    width: 100%;
}
.section-mosaic-services {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-bottom: 2px solid #efefef;  
    margin-top: 50px;
}
.section-mosaic-services > h1 {
    color: #666666;
    font-size: 30px;
    width: 880px;
}
.section-mosaic-services > p {
    color: #999999;
    font-size: 13px;
    width: 880px;
    margin-bottom: 35px;
}
.grid-services {
    width: 880px;
}
.grid-services-line {
    display: flex;
}
.box-link {
    width: 293px;
    height: 268px;
}
a.box-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
a.box-link .icon-service {
    margin: 33px 0px 30px 0px;
}
a.box-link h1 {
    color: #666666;
    font-size: 17px;
}
a.box-link p {
    color: #999999;
    font-size: 13px;
    text-align: center;
    padding: 10px 30px 30px 30px;
}
#box-link1 {
    border-top: 0.5px solid #efefef;
    border-left: 0.5px solid #efefef;
}
#box-link2 {
    border-top: 0.5px solid #efefef;
    border-right: 0.5px solid #efefef;
}
#box-link4 {
    border-left: 0.5px solid #efefef;
}
#box-link5 {
    border-right: 0.5px solid #efefef;
}
#box-link6 {
    border-bottom: 0.5px solid #efefef;
}
.pointer-right {
    position: relative;
    margin-left: 319px;
    margin-top: -157px;
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: grayscale(100%) brightness(200%);
}
.pointer-down {
    position: relative;
    margin-top: 2px;
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: grayscale(100%) brightness(200%);
}
.pointer-left {
    margin-right: 319px;
    margin-top: -140px;
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: grayscale(100%) brightness(200%);
}
.link-container-active {
    background-color: #00cccc;
    border-color: #00cccc !important;
}
.icon-box-link-active {
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: grayscale(100%) brightness(200%);
}
.header-box-link-active {
    color: white !important;
}
.paragraph-box-link-active {
    color: white !important;
}
.pointer-box-link-active {
    filter: none !important;
    -webkit-filter: none !important;
}
.section-clients-testimonial {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
