/*------- SEÇÃO 1 - Services, what we do ---------*/
#secao1 {
    height: 1480px;
}

#conteiner-principal-secao1 {
    margin-top: 80px;
}

#img-big {
    margin-top: 30px;
}

#box-informativo {
    background-color: #00cccc;
    width: 400px;
    height: 400px;
    margin-top: -147px;
    position: absolute;
}

#icone-servico {
    -webkit-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%);
    filter: gray brightness(200%);
    /* IE */
    margin-top: 50px;
}

#indicador-servico {
    margin-top: -301px;
    position: absolute;
    right: 175px;
}

#p-box-informatico {
    width: 350px;
}

#btn-contact-us {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
    border-radius: 23px;
}

#btn-contact-us:hover {
    cursor: pointer;
}

.div-contato {
    width: 450px;
    margin-left: 430px;
    margin-top: 30px;
}

.img-contato {
    width: 50px;
    height: 50px;
    margin-top: 13px;
    margin-left: 30px;
}

.p-contato-contactUs-box {
    height: 80px;
    font-size: 30px;
    margin: 0px;
    line-height: 1;
    margin-left: 20px;
}

#telefone-contato {
    border-bottom: 1px solid #eeeeee;
    margin-top: 55px;
    padding-bottom: 10px;
}

/*-------SEÇÃO 2 - Depoimento clientes---------*/

#secao2 {
    height: 650px;
}

#conteiner-secao2 {
    float: left;
    margin-top: 50px;
}

#foto1 {
    margin-left: 21%;
}

#foto3 {
    -webkit-filter: none;
    filter: none;
}

.fotoSecao2 {
    border-radius: 50%;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

#indicador-funcionario {
    border-right: 2px solid #dddddd;
    height: 30px;
    width: 1px;
    margin: auto;
    margin-left: 49%;
    margin-top: -5px;
}

.p-box-depoimento {
    width: 710px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.abre-aspas {
    margin-top: 56px;
}

.fecha-aspas {
    margin-top: -24px;
}

.box-depoimento {
    width: 880px;
    padding-top: 65px;
    float: left;
}

#conteiner-fotos-secao2 {
    border-bottom: 2px solid #dddddd;
}

#box-depoimento1 {
    display: none;
}

#box-depoimento2 {
    display: none;
}

#box-depoimento3 {
    display: block;
}

#box-depoimento4 {
    display: none;
}

#box-depoimento5 {
    display: none;
}