/*------- SEÇÃO 1 - Services, what we do ---------*/
#section1 {
    height: 1000px;
}

#container-main-section1 {
    margin-top: 80px;
}

#img-big {
    margin-top: 30px;
}

#box-informative {
    background-color: #00cccc;
    width: 400px;
    height: 400px;
    margin-top: -147px;
    position: absolute;
}

#icon-service {
    -webkit-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%);
    filter: gray brightness(200%);
    /* IE */
    margin-top: 50px;
}

#pointer-service {
    margin-top: -301px;
    position: absolute;
    right: 175px;
}

#p-box-informativo {
    width: 350px;
}

#btn-contact-us {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
    border-radius: 23px;
}

#btn-contact-us:hover {
    cursor: pointer;
}

.div-contact {
    width: 450px;
    margin-left: 430px;
    margin-top: 30px;
}

.img-contact {
    width: 50px;
    height: 50px;
    margin-top: 13px;
    margin-left: 30px;
}

.p-contact-of-contactUs-box {
    height: 80px;
    font-size: 30px;
    margin: 0px;
    line-height: 1;
    margin-left: 20px;
}

#telephone-contact {
    border-bottom: 1px solid #eeeeee;
    margin-top: 55px;
    padding-bottom: 10px;
}

/*-------SEÇÃO 2 - Depoimento clientes---------*/

#section2 {
    height: 590px;
}

#container-section2 {
    float: left;
    margin-top: 50px;
}

#picture1 {
    margin-left: 21%;
}

#picture3 {
    -webkit-filter: none;
    filter: none;
}

.pictures-section2 {
    border-radius: 50%;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    filter: gray;
    /* IE */
    transition: filter 0.5s;
}

#pictures-section3 {
    border-right: 2px solid #dddddd;
    height: 30px;
    width: 1px;
    margin: auto;
    margin-left: 49%;
    margin-top: -5px;
}

.p-box-testimonial {
    width: 710px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.img-open-quotes {
    margin-top: 56px;
}

.img-close-quotes {
    margin-top: -24px;
}

.box-testimonial {
    width: 880px;
    padding-top: 65px;
    float: left;
}

#container-pictures-section2 {
    border-bottom: 2px solid #dddddd;
}

#box-testimonial1 {
    display: none;
}

#box-testimonial2 {
    display: none;
}

#box-testimonial3 {
    display: block;
}

#box-testimonial4 {
    display: none;
}

#box-testimonial5 {
    display: none;
}