/*------- SEÇÃO 1 - Services, what we do ---------*/
#section1 {
    height: 1000px;
}

#container-main-section1 {
    margin-top: 80px;
}

#img-big {
    margin-top: 30px;
}

#box-informative {
    background-color: #00cccc;
    width: 400px;
    height: 400px;
    margin-top: -147px;
    position: absolute;
}

#icon-service {
    -webkit-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%);
    filter: gray brightness(200%);
    /* IE */
    margin-top: 50px;
}

#pointer-service {
    margin-top: -301px;
    position: absolute;
    right: 175px;
}

#p-box-informativo {
    width: 350px;
}

#btn-contact-us {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
    border-radius: 23px;
}

#btn-contact-us:hover {
    cursor: pointer;
}

.div-contact {
    width: 450px;
    margin-left: 430px;
    margin-top: 30px;
}

.img-contact {
    width: 50px;
    height: 50px;
    margin-top: 13px;
    margin-left: 30px;
}

.p-contact-of-contactUs-box {
    height: 80px;
    font-size: 30px;
    margin: 0px;
    line-height: 1;
    margin-left: 20px;
}

#telephone-contact {
    border-bottom: 1px solid #eeeeee;
    margin-top: 55px;
    padding-bottom: 10px;
}

/*-------SEÇÃO 2 - Depoimento clientes---------*/

#section2 {
    height: 590px;
    border-top: 2px solid #efefef;
}